@import "index.css";

.footer {
  background-color: var(--first-color-darken);
  color: var(--first-color-lighten);
  text-align: center;
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-2);
}

.footer__description {
  margin-bottom: var(--mb-2);
}

.footer__copy {
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.footer__copy i {
  height: 100%;
}

.footer__container .social-network-link:hover {
  border: 1px var(--first-color-lighten) solid;
}

@media screen and (min-width: 768px) {
  .footer {
    background: none;
  }

  .footer__container {
    background-color: var(--first-color-darken);
    padding: 3rem 0;
    border-radius: 0.5rem;
  }
}
