.social-network {
  margin-bottom: 5rem;
}

.social-network-link {
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  border-radius: 50%;
  border: 1px var(--first-color) solid;
  font-size: 1.1rem;
  padding: 0.4rem;
  margin: 0 var(--mb-1);
  transition: 0.3s;
}

.social-network-link:hover {
  background-color: var(--first-color-lighten);
  color: var(--first-color);
}
